html {
  box-sizing: border-box;
  //background-color: green;height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
$w:9em;
body {
  background-color: rgb(49, 32, 77);
  text-align: center;
  #btn {
    margin-top: calc(50vh - $w /2);
    background-color: transparent;
    // border-radius: 50%/40%;
    // overflow: hidden;
    // padding: 0;
    border: none;
    img {
      margin: 0;
      max-width: $w;
      color: red;
    }
  }
  p{display: inline-block;}
}
@debug hello;
